@import url(https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700);

body {
  margin: 0;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  background: #444;
  color: #ccc;
}
